snippet lang
	<?=lang('phrase_${1}');?>
snippet ajax
	$.ajax({
		type: "POST",
		cache: false,
		url: "/user/mailorder/json/",
		data: $('form#mailorder').serialize(),
		success: callbackMailorder
	});
snippet log
	console.log(${1});
