[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "plugins/surround"]
	path = plugins/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "plugins/supertab"]
	path = plugins/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "plugins/fugitive"]
	path = plugins/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugins/command-t"]
	path = plugins/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "plugins/gundo"]
	path = plugins/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "plugins/mark"]
	path = plugins/mark
	url = https://github.com/vim-scripts/Mark.git
[submodule "plugins/NerdCommenter"]
	path = plugins/NerdCommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "plugins/NerdTree"]
	path = plugins/NerdTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugins/ack"]
	path = plugins/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "plugins/snipmate"]
	path = plugins/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "plugins/tlib_vim"]
	path = plugins/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "plugins/vim-addon-mw-utils"]
	path = plugins/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "plugins/syntastic"]
	path = plugins/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "plugins/tagbar"]
	path = plugins/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "helper/tagbar-phpctags"]
	path = helper/tagbar-phpctags
	url = https://github.com/techlivezheng/tagbar-phpctags.git
[submodule "plugins/vim-powerline"]
	path = plugins/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "plugins/vim-toggle"]
	path = plugins/vim-toggle
	url = https://github.com/taku-o/vim-toggle.git
