[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "plugins/surround"]
	path = plugins/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "plugins/supertab"]
	path = plugins/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "plugins/fugitive"]
	path = plugins/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugins/command-t"]
	path = plugins/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "plugins/gundo"]
	path = plugins/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "plugins/mark"]
	path = plugins/mark
	url = https://github.com/vim-scripts/Mark.git
[submodule "plugins/NerdCommenter"]
	path = plugins/NerdCommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "plugins/NerdTree"]
	path = plugins/NerdTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugins/ack"]
	path = plugins/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "plugins/snipmate"]
	path = plugins/snipmate
	url = https://github.com/garbas/vim-snipmate.git
