[submodule "plugins/vim-pathogen"]
	path = plugins/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "plugins/colors-busybee"]
	path = plugins/colors-busybee
	url = https://github.com/vim-scripts/BusyBee.git
[submodule "plugins/colors-flatlandia"]
	path = plugins/colors-flatlandia
	url = https://github.com/jordwalke/flatlandia.git
[submodule "plugins/colors-github"]
	path = plugins/colors-github
	url = https://github.com/endel/vim-github-colorscheme
[submodule "plugins/colors-gummybears"]
    path = plugins/colors-gummybears
    url = https://github.com/vim-scripts/Gummybears.git
[submodule "plugins/colors-inkpot"]
	path = plugins/colors-inkpot
	url = https://github.com/ciaranm/inkpot.git
[submodule "plugins/colors-railscasts"]
	path = plugins/colors-railscasts
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule "plugins/colors-smyck"]
	path = plugins/colors-smyck
	url = https://github.com/hukl/Smyck-Color-Scheme.git
[submodule "plugins/colors-solarized"]
	path = plugins/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "plugins/airline"]
	path = plugins/airline
	url = https://github.com/bling/vim-airline.git
[submodule "plugins/bracketed-paste"]
	path = plugins/bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste
[submodule "plugins/ctrlp"]
    path = plugins/ctrlp
    url = https://github.com/kien/ctrlp.vim.git
[submodule "plugins/fugitive"]
    path = plugins/git-fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "plugins/ultisnips"]
    path = plugins/ultisnips
    url = https://github.com/SirVer/ultisnips.git
[submodule "plugins/syntax-systemd"]
    path = plugins/syntax-systemd
    url = https://github.com/Matt-Deacalion/vim-systemd-syntax.git
[submodule "plugins/numbers"]
    path = plugins/numbers
    url = https://github.com/b3niup/numbers.vim.git
[submodule "plugins/NerdTree"]
    path = plugins/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "plugins/tagbar"]
    path = plugins/tagbar
    url = git://github.com/majutsushi/tagbar
[submodule "plugins/supertab"]
    path = plugins/supertab
    url = https://github.com/ervandew/supertab.git
[submodule "plugins/instant-markdown"]
    path = plugins/instant-markdown
    url = https://github.com/isnowfy/python-vim-instant-markdown.git
[submodule "plugins/syntastic"]
    path = plugins/syntastic
    url = https://github.com/scrooloose/syntastic.git
[submodule "plugins/easytags"]
    path = plugins/easytags
    url = https://github.com/xolox/vim-easytags.git
[submodule "plugins/misc"]
    path = plugins/misc
    url = https://github.com/xolox/vim-misc
[submodule "plugins/git-extradite"]
    path = plugins/git-extradite
    url = https://github.com/int3/vim-extradite/
[submodule "plugins/javascript-libraries"]
    path = plugins/javascript-libraries
    url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule "plugins/javascript-enhanced"]
    path = plugins/javascript-enhanced
    url = https://github.com/pangloss/vim-javascript.git
[submodule "plugins/plu"]
    path = plugins/plu
    url = https://github.com/bigfish/vim-js-beautify.git
[submodule "plugins/javascript-beautify"]
    path = plugins/javascript-beautify
    url = https://github.com/bigfish/vim-js-beautify.git
[submodule "plugins/nerdcommenter"]
    path = plugins/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter.git
[submodule "plugins/support-markdown"]
    path = plugins/support-markdown
    url = https://github.com/tpope/vim-markdown.git
[submodule "plugins/ack"]
    path = plugins/ack
    url = https://github.com/mileszs/ack.vim.git
[submodule "plugins/YouCompleteMe"]
	path = plugins/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "plugins/python-isort"]
	path = plugins/python-isort
	url = https://github.com/fisadev/vim-isort.git
